[submodule "Software-Tutorials-App-Backend-API"]
	path = Software-Tutorials-App-Backend-API
	url = https://bisrat-walle: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@github.com/bisrat-walle/Software-Tutorials-App-Backend-API/
